           <ul>
              <% if @friends.any?() %>
              <% @cat.friends.each() do |friend| %>
              <li><%= friend.name() %></li>
              <% end %>
              <%else%>
              <p>You have no friends.</p>
              <%end%>
            </ul> 
