

<div class="index-container">


  <div class="index-header-div">
    <img class="catbook-logo" src="http://www.bestfriendsstudios.com/images/Product/icon/1457.jpg" />
    <span class="index-header">CatBook</span>
    <img class="catbook-logo" src="http://www.bestfriendsstudios.com/images/Product/icon/1461.jpg" />
  </div>


  <div class="form_div" id="sign-in-form">
    <form action="/login" method="get">

    <button type="submit">Sign In</button>
    </form>
  </div>

  <div class="form_div" id="sign-up-form">
    <form action="/upload" method="get">
      <button type="submit">Sign Up</button>
    </form>
  </div>


</div>
