
<div class="row" id="row_1">

  <div class="col-sm-12" id="profile_header_div">

    <h1 class="header"><%=@cat.name()%></h1>

  </div>
<br><br><br><br>
  <div class="col-sm-4" float-right>
    <div class="pic-div"><img class="profile-cat-pic" src="<%=@cat.image%>" /></div>
  </div>

  <div>
  <form action="/profile/<%=@cat.id%>" method="post">
    <div class="form-group">
      <label for="comment"> </label>
      <input text="comment" name="comment" id="comment" class="form-control">
    </form>
    </div>
    <div>
      <button type="submit">Submit Comment</button>
    </div>

    <ul>
      <% @comments.each() do |comment| %>
      <li><%= comment.description() %></li>
      <% end %>
    </ul>
