
<h1 class="header_form"> Upload your kitty at your own risk </h1>

<form action="/upload" method="post">
  <div class="form-group" id="upload_form">
    <label for="name"> Add kitty's name:</label>
    <input text="text" name="name" id="name" class="form-control">

    <label for="bio"> Add kitty's bio:</label>
    <input text="bio" name="bio" id="bio" class="form-control">

    <label for="photo"> Add url of kitty's photo:</label>
    <input text="photo" name="photo" id="photo" class="form-control">
    <br>
    <button type="submit" class="btn btn-default">Upload kitty for battle!</button>
  </div>
  
