<h1> Upload your kitty at your own risk </h1>
<br>
<br>
<br>
<br>

<form action="/upload" method="post">
  <div class="form-group">
    <label for="name"> Add kitty's name:</label>
    <input text="text" name="name" id="name" class="form-control">

    <label for="bio"> Add kitty's bio:</label>
    <input text="bio" name="bio" id="bio" class="form-control">

    <label for="photo"> Add url of kitty's photo:</label>
    <input text="photo" name="photo" id="photo" class="form-control">

    <button type="submit">Upload kitty for battle!</button>
  </div>
