<div class="game-container">

  <h1 class="header_form"> Upload your kitty at your own risk </h1>
  <div class="cat-gif-div">
    <img class="cat-gif" src="/img/catsfighting.gif" />
  </div>
  <form action="/upload" method="post">
    <div class="form-group upload_form">
      <label for="name"> Add kitty's name:</label>
      <input type="text" name="name" id="name" class="form-control">

      <label for="bio"> Add kitty's bio:</label>
      <textarea name="bio" id="bio" class="form-control" rows="4" cols="50"></textarea>
      <label for="photo"> Add url of kitty's photo:</label>
      <input type="text" name="photo" id="photo" class="form-control">
      <label for="location"> Add kitties location:</label>
      <input type="text" name="location" id="location" class="form-control">
      <label for="birthday"> Add kitties date of birth:</label>
      <input type="text" name="birthday" id="birthday" class="form-control">
      <label for="naparea"> Add kitties favorite Nap Area:</label>
      <input type="text" name="naparea" id="naparea" class="form-control">
      <label for="relationship"> Add relationship for kitty:</label>
      <input type="text" name="relationship" id="relationship" class="form-control">
      <br>
      <button type="submit" class="btn btn-default">Add Your Catbox</button>
    </div>

  </div>
