.cat_pic {
  max-width:100%;

}

.cat_div{
  width:200px;
  display:inline-block;
  margin:10px;
}

.btn-danger{
  margin-left:40%;
  margin-top:10%;
}

.header{
  margin:0 auto;
  margin-left:40%;
}

#header_div{
  background-color:orange;
}

@media screen and (max-width:480px) {
  .header{
    margin:0 auto;
    margin-left:30%;

  }

  #header_div{
    background-color:red;
  }
}
